#version=RHEL7

# Install OS instead of upgrade
install

# Use CDROM installation media
cdrom

text
poweroff

# System keyboard
keyboard us

# System language
lang en_US.UTF-8

# Setup network interfaces via DHCP
network --device=eth0 --bootproto=dhcp --onboot=yes

#set root pw here (required by KS), remove pw in post
rootpw temp
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
firstboot --disabled

# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br','us'
# System language
lang en_US.UTF-8

# SELinux configuration
# By default, selinux is enforcing
selinux --enforcing
#selinux --permissive

# Services
services --enabled=ntpd,ntpdate

# Installation logging level
logging --level=debug

# System timezone
timezone America/New_York --isUtc

# System bootloader configuration
bootloader --location=mbr --driveorder=vda --append="tsc=reliable divider=10 plymouth.enable=0 console=ttyS0" 

# Clear the Master Boot Record
zerombr

# Automatically create partitions, no LVM
autopart --nolvm

# Partition clearing information
clearpart --all --initlabel

%packages
@^minimal
@core
kexec-tools
acpid
iputils
man
net-tools
ntp
ntpdate
parted
vim-common
vim-enhanced
vim-minimal
wget

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post --nochroot --log=/mnt/sysimage/var/log/ks.post01.log

#!/bin/sh
echo "Kickstart postinstall stage 1"

%end

%post --log=/var/log/ks.post02.log
#!/bin/sh

# Remove root password
echo "Removing root password"
passwd -d root

## Build date used for motd and product file
BUILDDATE=`date +%Y%m%d`
NAME="LNLS BPM CentOS 7.2"
DOCS="https://github.com/lnls-dig/bpm-distro"

# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd
   _   
  | |
  | |
  | |
  | |____
  |______|

           Instance ($NAME $BUILDDATE)
            $DOCS

MOTD

# MOTD symlinks
echo "Creating /etc/motd symlinks"
ln -sf /etc/motd /etc/issue
ln -sf /etc/motd /etc/issue.net

# Create product file
echo "Creating /etc/product file"
cat << PRODUCT > /etc/product
Name: LNLS BPM Instance
Image: $NAME $BUILDDATE
Documentation: $DOCS
Description: $NAME 64-bit image with just essential packages for the LNLS BPM.
PRODUCT

# Clean up all yum caches
echo "Cleaning up yum caches"
/usr/bin/yum clean all

# Clean up network devices
echo "Cleaning up network devices"
/bin/rm -f /etc/udev/rules.d/70-persistent-net.rules
/bin/find /etc/sysconfig/network-scripts -name "ifcfg-eth*" -exec rm -f '{}' +
/bin/find /var/lib/dhclient -type f -exec rm -f '{}' +

# Remove hostname
echo "Clearing out /etc/hostname"
cat /dev/null > /etc/hostname

# Disable Avahi
echo "Disabling Avahi"
systemctl disable avahi-daemon.service 

# Disable kdump
echo "Disabling kdump"
systemctl disable kdump.service

# Ensure we have sane and consistent defaults for ntp.conf
sed s/restrict\ default\ nomodify\ notrap\ nopeer\ noquery/restrict\ default\ kod\ nomodify\ notrap\ nopeer\ noquery/ -i /etc/ntp.conf
# For IPv6
echo "restrict -6 default kod nomodify notrap nopeer noquery" >> /etc/ntp.conf
sed s/restrict\ ::1/restrict\ -6\ ::1/ -i /etc/ntp.conf

echo "End of Kickstart"
%end
